.formPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.formContainer div input {
  padding: 5px;
  margin: 5px;
}
.formContainer label {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}

/* .imageContainer {
  margin-top: 20px;
} */

.formContainer button {
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: rgb(27, 26, 26);
  color: aliceblue;
  border-radius: 6px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
}

.error{
  color: red;
  padding: 5px;
  font-size: 12px;
}

.thankYouMessage {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .responivepage {
    padding: 0 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .formContainer label {
    font-size: 15px;
  }
  .formContainer div input,
  .formContainer textarea {
    width: 100%;
    font-size: 12px;
    padding: 4px;
    margin: 4px;
  }
  .formContainer button {
    font-size: 15px;
    height: 30px;
  }
  .imageContainer img {
    width: 450px;
    height: 475px;
  }
  .formContainer label {
    padding: 4px;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .formContainer label {
    font-size: 10px;
  }
  .formContainer div input,
  .formContainer textarea {
    width: 100%;
    font-size: 10px;
    padding: 3px;
    margin: 3px;
  }
  .formContainer button {
    font-size: 10px;
    height: 25px;
  }
  .imageContainer img {
    width: 350px;
    height: 370px;
  }
  .formContainer label {
    padding: 3px;
  }
}

@media (min-width: 425px) and (max-width: 550px) {
  /* .pageHeight {
    min-height: 460px !important;
  } */
  .formContainer label {
    font-size: 8px;
  }
  .formContainer div input,
  .formContainer textarea {
    width: 100%;
    font-size: 8px;
    padding: 2px;
    margin: 2px;
  }
  .formContainer button {
    font-size: 8px;
    height: 20px;
  }
  .imageContainer img {
    width: 230px;
    height: 300px;
  }
  .formContainer label {
    padding: 2px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  /* .pageHeight {
    min-height: 460px !important;
  } */
  .formContainer label {
    font-size: 5px;
  }
  .formContainer div input,
  .formContainer textarea {
    width: 100%;
    font-size: 5px;
    padding: 1px;
    margin: 1px;
  }
  .formContainer button {
    font-size: 5px;
    height: 15px;
  }
  .imageContainer img {
    width: 180px;
    height: 255px;
  }
  .formContainer label {
    padding: 1px;
  }
}
