.details {
  display: flex;
  justify-content: space-between;
  color: rgb(53, 52, 52);
  font-size: 14px;
  margin: 2.25rem 0 0.5rem;
}

.detailsCard {
  width: 220px;
  display: flex;
  flex-direction: column;
}

.cardHeader {
  font-size: 28px;
  background-color: rgba(22, 22, 22, 0.5);
  border-radius: 20px;
  color: #fff;
  text-align: center;
  padding: 4px;
  font-weight: 700;
  height: 76px;
}

.cardBody {
  background: #fff;
  /* height: 250px; */
  border-radius: 30px;
  border: 5px solid rgb(255, 221, 0);
  padding: 4px 12px;
  flex: 1;
}

.cardBody .marginTop {
  margin-top: 14px;
}


@media (max-width: 1024px) {
  .details{
    font-size: 10px;
  }
  .detailsCard{
    width: 150px;
  }
  .cardHeader{
    font-size: 20px;
    height: 66px;
  }
  .cardBody{
    padding: 3px 10px;
  }
}

@media (max-width: 769px) {
  .details{
    font-size: 12px;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }
  .detailsCard{
    width: 100%;
    height: 200px;
  }
  .cardHeader{
    font-size: 13px;
    height: 25px;
  }
  .cardBody{
    border: 3px solid rgb(255, 221, 0);
    margin-top: 10px;
    padding: 6px 8px;
  }
}

@media (max-width: 426px) {
  .details{
    font-size: 12px;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0
  }
  .detailsCard{
    width: 100%;
    height: 250px;
  }
  .cardHeader{
    font-size: 13px;
    height: 25px;
  }
  .cardBody{
    border: 3px solid rgb(255, 221, 0);
    margin-top: 12px;
    padding: 6px 8px;
  }
}