.details {
  display: flex;
  justify-content: space-between;
  color: rgb(53, 52, 52);
  font-size: 14px;
  margin: 2.25rem 0 0.5rem;
}

.detailsCard {
  width: 220px;
  display: flex;
  flex-direction: column;
}

.cardHeader {
  font-size: 28px;
  background-color: rgba(22, 22, 22, 0.5);
  border-radius: 20px;
  color: #fff;
  text-align: center;
  padding: 4px;
  font-weight: 700;
  height: 76px;
}

.cardBody {
  background: #fff;
  /* height: 250px; */
  border-radius: 30px;
  border: 5px solid rgb(255, 221, 0);
  padding: 4px 12px;
  flex: 1;
}

.cardBody .marginTop {
  margin-top: 14px;
}


@media(min-width: 500px) and (max-width: 1000px) {
  .details{
    font-size: 10px;
  }
  .detailsCard{
    width: 150px;
  }
  .cardHeader{
    font-size: 20px;
    height: 66px;
  }
  .cardBody{
    padding: 3px 10px;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  .details{
    font-size: 8px;
  }
  .detailsCard{
    width: 120px;
  }
  .cardHeader{
    font-size: 13px;
    height: 56px;
  }
  .cardBody{
    padding: 6px 8px;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  .details{
    font-size: 6px;
  }
  .detailsCard{
    width: 90px;
  }
  .cardHeader{
    font-size: 10px;
    height: 46px;
  }
  .cardBody{
    padding: 6px 8px;
  }
}