.portfolio {
  display: flex;
  margin: 16px 0 90px;
  gap: 20px;
}

.carousel {
  width: 415px;
  height: 415px;
  border-radius: 28px;
  border: 5px solid rgb(255, 221, 0);
  position: relative;
  overflow: hidden;
}

.appointments {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Container for the icons row */
.roundIconsContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}

/* Container for the buttons */
.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem;  */
}

.portfolioCombo {
  width: 150px;
  height: 150px;
  background-color: black;
  border: 5px solid rgb(255, 221, 0);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 10px;
  transition: transform 0.2s ease;
}

.portfolioCombo:hover {
  transform: scale(1.1);
}

.portfolioIcon {
  margin-bottom: 8px;
}

.portfolioText{
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
}

.instaIcon {
  border: 5px solid rgb(255, 221, 0);
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.instaIcon:hover {
  transform: scale(1.1);
}

.appointmentBtn {
  padding: 11px;
  margin: 2px 0;
}

.carouselBtnWrp{
  position: absolute;
  width: calc(100% + 10px);
  top: -5px;
  left: -5px;
  z-index: 99;
}

.carouselServicesBtn {
  padding: 10px;
  margin: 0;
  background: rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .appointments {
    justify-content: space-evenly;
  }
  .portfolioCombo {
    width: 100px;
    height: 100px;
  }
  .portfolioText{
    font-size: 13px;
  }
  .portfolioIcon{
    width: 30px !important;
    height: 30px !important;
  }
  .instaIcon {
    width: 100px !important;
    height: 100px !important;
  }
}

@media (max-width: 750px) {
  .portfolio {
    flex-direction: column;
    align-items: center;
    margin: 16px 0 25px;
  }
  .appointments {
    width: 100%;
  }
  .roundIconsContainer {
    order: 2;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .portfolioCombo {
    width: 100px;
    height: 100px;
  }
  .portfolioText{
    font-size: 12px;
  }
  .portfolioIcon{
    width: 30px !important;
    height: 30px !important;
  }
  .instaIcon {
    width: 100px !important;
    height: 100px !important;
  }
}

@media (max-width: 425px) {
  .carousel {
    width: 100%;
    height: 300px;
  }
  .portfolio {
    margin: 16px 0 25px;
  }
  .roundIconsContainer {
    order: 2;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .portfolioCombo {
    width: 80px;
    height: 80px;
    border: 2px solid rgb(255, 221, 0);
  }
  .portfolioText{
    font-size: 9px;
  }
  .portfolioIcon{
    width: 20px !important;
    height: 20px !important;
  }
  .instaIcon {
    border: 2px solid rgb(255, 221, 0);
    width: 80px !important;
    height: 80px !important;
  }
}
