.portfolio {
  display: flex;
  margin: 16px 0 90px;
  gap: 20px;
}

.carousel {
  width: 415px;
  height: 415px;
  border-radius: 28px;
  border: 5px solid rgb(255, 221, 0);
  position: relative;
  overflow: hidden;
}

.appointments {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Container for the icons row */
.iconRowContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}

/* Container for the buttons */
.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem;  */
}

.iconCircle {
  border: 5px solid rgb(255, 221, 0);
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.iconCircle:hover {
  transform: scale(1.1);
}

.appointmentBtn {
  padding: 11px;
  margin: 2px 0;
}

.portfolioBtnWrp {
  position: absolute;
  width: calc(100% + 10px);
  top: -5px;
  left: -5px;
  z-index: 99;
}

.portfolioBtn {
  padding: 10px;
  margin: 0;
  background: rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .appointments {
    justify-content: space-evenly;
  }
  .iconCircle {
    width: 100px !important;
    height: 100px !important;
  }
}

@media (max-width: 750px) {
  .portfolio {
    flex-direction: column;
    align-items: center;
    margin: 16px 0 25px;
  }
  .appointments {
    width: 100%;
  }
  .iconRowContainer {
    order: 2;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .iconCircle {
    width: 100px !important;
    height: 100px !important;
  }
}

@media (max-width: 425px) {
  .carousel {
    width: 100%;
    height: 300px;
  }
  .portfolio {
    margin: 16px 0 25px;
  }
  .iconRowContainer {
    order: 2;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .iconCircle {
    border: 2px solid rgb(255, 221, 0);
    width: 80px !important;
    height: 80px !important;
  }
}
