.policy {
  font-size: 48px;
}

@media (max-width: 1024px) {
  .responivepage {
    margin: 5%;
  }
  .divider {
    margin: 5px 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .policy {
    font-size: 45px;
  }
  .responivepage h2 {
    font-size: 25px;
  }
  .responivepage p {
    font-size: 20px;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  .policy {
    font-size: 35px;
  }
  .responivepage h2 {
    font-size: 20px;
  }
  .responivepage p {
    font-size: 15px;
  }
}
@media (min-width: 425px) and (max-width: 550px) {
  .policy {
    font-size: 24px;
  }
  .responivepage h2 {
    font-size: 15px;
  }
  .responivepage p {
    font-size: 12px;
  }
}
@media (min-width: 320px) and (max-width: 424px) {
  .policy {
    font-size: 17px;
  }
  .responivepage h2 {
    font-size: 12px;
  }
  .responivepage p {
    font-size: 10px;
  }
}
