@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heading {
  background-color: #000;
  font-size: 30px;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 75px;
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards;
  animation-delay: 0.5s;
}

.responivepage {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.service.reverse {
  flex-direction: row-reverse;
}

.tabHeader {
  display: flex;
  width: 100%;
  max-width: 960px;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 25px;
  overflow: hidden;
}

.tabButton {
  flex: 1;
  padding: 8px 0;
  /* font-weight: bold; */
  font-size: 20px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.activeTab {
  background-color: black;
  color: white;
}

.tabDivider {
  width: 2px;
  background-color: black;
}

.scrollWrapper {
  position: relative;
  overflow: hidden;
}

.rightFade,
.leftFade {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  pointer-events: none;
  z-index: 2;
}

.rightFade {
  right: 0;
  background: linear-gradient(to left, white 0%, transparent 100%);
}

.leftFade {
  left: 0;
  background: linear-gradient(to right, white 0%, transparent 100%);
}

.horizontalScrollContainer {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 20px;
  gap: 20px;
}

.horizontalScrollContainer::-webkit-scrollbar {
  display: none;
}

.slide {
  flex: 0 0 calc(100% - 40px); /* So 20px of next slide shows */
  scroll-snap-align: start;
  min-width: 280px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  scroll-snap-align: start;
  /* padding-right: 20px; */
  box-sizing: border-box;
}

.serviceText {
  flex: 1;
}

.serviceText h3 {
  font-size: 46px;
}

.serviceText p {
  font-size: 15px;
  line-height: 1.5;
}

.mulchImage,
.stoneImage,
.serviceImage {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.mulchImg,
.stoneImg {
  border-radius: 5%;
}

.image {
  border-radius: 5%;
}

.divider {
  border: 1px solid #343434;
  margin: 1rem 0;
}

.buttonGroup {
  display: flex;
}

.blackTextButton {
  color: black !important;
}

.priceList {
  font-size: 23px !important;
  font-weight: normal;
  display: flex;
  flex-wrap: wrap;
}

.patternRow,
.sizeRow {
  display: inline-flex;
  flex-wrap: nowrap;
  border: 5px solid rgb(255, 221, 0);
  border-radius: 999px;
  overflow: hidden;
  margin: 16px 0;
  background: white;
  white-space: nowrap;
}

.patternBtn,
.sizeBtn {
  padding: 10px 16px;
  border: none;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-right: 1px solid rgb(200, 200, 200);
}

.patternBtn:last-child,
.sizeBtn:last-child {
  border-right: none;
}

.active {
  background-color: #444;
  color: white;
}

.footer {
  background-color: black;
  padding: 2rem;
  margin-top: 10px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1.5s;
}

@media (prefers-color-scheme: dark) {
  .blackTextButton {
    color: #ededed !important;
  }
  .tabHeader {
    border: 2px solid white;
  }
  .tabButton,
  .patternBtn,
  .sizeBtn {
    background-color: black;
    color: white;
  }
  .activeTab,
  .active {
    background-color: white;
    color: black;
  }
  .rightFade {
    background: linear-gradient(to left, black 0%, transparent 100%);
  }
  .leftFade {
    background: linear-gradient(to right, black 0%, transparent 100%);
  }
}

@media (max-width: 1024px) {
  .responivepage {
    margin: 0 5%;
  }
  .divider {
    margin: 5px 0;
  }
  
  .sizeRow {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    border: 2px solid rgb(255, 221, 0);
  }
  .sizeBtn {
    flex: 1 1;
    padding: 10px 10px;
  }
}

@media (max-width: 1024px) {
  .heading {
    font-size: 30px;
    padding-top: 60px;
  }
  .serviceText h3 {
    font-size: 2rem;
  }
  .serviceText p {
    font-size: 15px;
  }
  .mulchImage img,
  .stoneImage img,
  .serviceImage img {
    padding-top: 2px;
  }
  .blackTextButton {
    font-size: 15px;
    border: 3px solid rgb(255, 221, 0);
  }
  .priceList {
    font-size: 18px !important;
  }
  .footer {
    padding: 25px 5%;
  }
  .horizontalScrollContainer {
    gap: 0px;
    scroll-padding: 0 20px;
  }
  .slide {
    flex: 0 0 calc(100% - 20px);
    min-width: 350px;
    gap: 1rem;
    padding: 0;
  }
  .tabButton {
    font-size: 18px;
  }
  .patternRow {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    border: 2px solid rgb(255, 221, 0);
  }
  .patternBtn {
    flex: 1 1;
    padding: 10px 10px;
  }
  }

@media (max-width: 769px) {
  .heading {
    font-size: 25px;
    padding-top: 70px;
  }
  .service {
    margin: 9px 0px;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .serviceText h3 {
    font-size: 2rem;
  }
  .serviceText p {
    font-size: 14px;
  }
  .service.reverse {
    flex-direction: column;
  }
  .stoneServiceText {
    padding-left: 20px;
  }
  .serviceText {
    order: 2;
    width: 100%;
  }
  .mulchImage,
  .stoneImage,
  .serviceImage {
    order: 1;
    display: flex;
    justify-content: center;
  }
  .mulchImg {
    border-radius: 5% 0 0 5%;
  }
  .stoneImg {
    border-radius: 0 5% 5% 0;
  }
  .serviceImage img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .mulchImage img {
    width: 100%;
    height: 500px;
    object-fit: cover !important;
  }
  .stoneImage img {
    width: 104%;
    height: 500px;
    object-fit: cover !important;
  }
  .stoneOptionsButton {
    padding-left: 20px;
  }
  .buttonGroup {
    padding-top: 2px;
  }
  .priceList {
    font-size: 15px !important;
  }
  .footer {
    padding: 20px 5%;
  }
  .horizontalScrollContainer {
    gap: 0px;
    scroll-padding: 0 20px;
  }
  .slide {
    flex: 0 0 calc(100% - 20px);
    min-width: 350px;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }
  .rightFade,
  .leftFade {
    height: 500px;
  }
  .tabButton {
    font-size: 15px;
  }
  .patternRow {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    border: 2px solid rgb(255, 221, 0);
  }
  .patternBtn {
    flex: 1 1;
    padding: 10px 10px;
  }
}

/* @media (min-width: 425px) and (max-width: 550px) {
  .heading {
    font-size: 20px;
    padding-top: 50px;
  }
  .service {
    margin: 9px 0px;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .serviceText h3 {
    font-size: 1.5rem;
  }
  .serviceText p {
    font-size: 14px;
  }
  .service.reverse {
    flex-direction: column;
  }
  .stoneServiceText {
    padding-left: 20px;
  }
  .serviceText {
    order: 2;
    width: 100%;
  }
  .mulchImage,
  .stoneImage,
  .serviceImage {
    order: 1;
    display: flex;
    justify-content: center;
  }
  .mulchImg {
    border-radius: 5% 0 0 5%;
  }
  .stoneImg {
    border-radius: 0 5% 5% 0;
  }
  .serviceImage img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .mulchImage img {
    width: 100%;
    height: 257px;
    object-fit: cover !important;
  }
  .stoneImage img {
    width: 106%;
    height: 257px;
    object-fit: cover !important;
  }
  .stoneOptionsButton {
    padding-left: 20px;
  }
  .buttonGroup {
    padding-top: 2px;
  }
  .priceList {
    font-size: 14px !important;
  }
  .footer {
    padding: 5px 5%;
  }
  .horizontalScrollContainer {
    gap: 0px;
    scroll-padding: 0 20px;
  }
  .slide {
    flex: 0 0 calc(100% - 20px);
    min-width: 350px;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }
  .rightFade,
  .leftFade {
    height: 260px;
  }
  .tabButton {
    font-size: 14px;
  }
  .patternRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 0px solid rgb(255, 221, 0);
    border-radius: 10%;
    overflow: visible;
  }
  .patternBtn{
    border: 2px solid rgb(255, 221, 0);
    padding: 10px;
  } 
  .patternBtn:nth-child(1) {
    border-top-left-radius: 8px;
  }
  .patternBtn:nth-child(2) {
    border-left: 0px solid rgb(255, 221, 0);
  }
  .patternBtn:nth-child(3) {
    border-left: 0px solid rgb(255, 221, 0);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
   }
  .patternBtn:nth-child(4) {
    border-top: 0px solid rgb(255, 221, 0);
    border-bottom-left-radius: 8px;
  }
  .patternBtn:nth-child(5) {
    border-top: 0px solid rgb(255, 221, 0);
    border-left: 0px solid rgb(255, 221, 0);
    border-right: 2px solid rgb(255, 221, 0);
    border-bottom-right-radius: 8px;
  }
} */

@media (max-width: 426px) {
  .heading {
    font-size: 10px;
    padding-top: 40px;
  }
  .service {
    margin: 9px 0px;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .serviceText h3 {
    font-size: 1.5rem;
  }
  .serviceText p {
    font-size: 14px;
  }
  .service.reverse {
    flex-direction: column;
  }
  .serviceText {
    order: 2;
    width: 100%;
  }
  .mulchImage,
  .stoneImage,
  .serviceImage {
    order: 1;
    display: flex;
    justify-content: center;
  }
  .mulchImg {
    border-radius: 5% 0 0 5%;
  }
  .stoneImg {
    border-radius: 0 5% 5% 0;
  }
  .serviceImage img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .mulchImage img {
    width: 100%;
    height: 216px;
    object-fit: cover !important;
  }
  .stoneImage img {
    width: 106%;
    height: 216px;
    object-fit: cover !important;
  }
  .stoneOptionsButton {
    padding-left: 20px;
  }
  .stoneServiceText {
    padding-left: 20px;
  }
  .rightFade,
  .leftFade {
    height: 220px;
  }
  .serviceImage img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .buttonGroup {
    padding-top: 2px;
    padding-right: 2px;
    flex-direction: column;
  }
  .priceList {
    font-size: 14px !important;
  }
  .footer {
    padding: 5px 5%;
  }
  .horizontalScrollContainer {
    gap: 0px;
    scroll-padding: 0 0;
  }
  .slide {
    flex-direction: column;
    flex: 0 0 calc(100% - 20px);
    gap: 1rem;
    padding: 0;
  }
  .tabButton {
    font-size: 14px;
  }
  .patternRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 0px solid rgb(255, 221, 0);
    border-radius: 10%;
    overflow: visible;
  }
  .patternBtn{
    border: 2px solid rgb(255, 221, 0);
    padding: 10px;
  } 
  .patternBtn:last-child {
    border-right: 1px solid rgb(255, 221, 0);;
  }
  .patternBtn:nth-child(1) {
    border-bottom: 0px solid rgb(255, 221, 0);
    border-top-left-radius: 8px;
  }
  .patternBtn:nth-child(2) {
    border-left: 0px solid rgb(255, 221, 0);
    border-bottom: 0px solid rgb(255, 221, 0);
    border-top-right-radius: 8px;
  }
  .patternBtn:nth-child(4) {
    border-left: 0px solid rgb(255, 221, 0);
    border-bottom-right-radius: 8px;
  }
  .patternBtn:nth-child(5) {
    border-top: 0px solid rgb(255, 221, 0);
    border-right: 2px solid rgb(255, 221, 0);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
