.main {
  min-height: 600px;
  padding: 150px 0 0;
}

.responivepage {
  padding: 2rem;
}

.twoColumn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.leftCol {
  flex: 1;
  min-width: 300px;
}

.rightCol {
  flex: 1;
  min-width: 300px;
  font-size: 1.3rem;
}

.leftCol img {
  /* width: auto; */
  /* height: auto; */
  object-fit: cover;
}

.cityImage {
  margin-top: 1rem;
  border-radius: 5%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .main {
    padding-top: 100px;
  }
  .responivepage {
    margin: 0 5%;
  }
  .twoColumn {
    gap: 0;
    flex-direction: column;
  }
  .cityImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .leftCol {
    order: 1;
    width: 100%;
  }
  .leftCol h1 {
    font-size: 1rem;
  }
  .rightCol {
    order: 2;
    width: 100%;
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
}
