@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  animation: fadeInOut 1s ease;
}

.footer {
  background-color: rgb(71, 71, 71);
  padding: 1rem 0.5rem;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1.3s;
}

.footerWrap {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
}

.footerText {
  flex: 1;
  /* cursor: default; */
}

.linkBtn:hover {
  color: rgb(13, 13, 13);
  transition: color 0.2s ease;
}

.footerTextMax {
  max-width: 272px;
}

.linkBtn {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  pointer-events: auto;
}

.hoursWrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px !important;
}

/* Footer responsiveness */
@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    padding: 1rem 2rem;
  }
  .footerWrap {
    font-size: 14px;
  }
  .hoursWrap {
    font-size: 14px !important;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .footer {
    padding: 1rem 2.5rem;
  }
  .footerWrap {
    font-size: 12px;
  }
  .hoursWrap {
    font-size: 12px !important;
  }
}

@media (min-width: 320px) and (max-width: 550px) {
  .footer {
    padding: 0.5rem 1.5rem;
  }
  .footerWrap {
    font-size: 9px;
  }
  .hoursWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 10px !important;
  }
}