@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  background-color: rgb(71, 71, 71);
  padding: 1rem 0.5rem;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1.3s;
}

.footerWrap {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
}

.footerText {
  flex: 1;
  /* cursor: default; */
}

.linkBtn:hover {
  color: rgb(13, 13, 13);
  transition: color 0.2s ease;
}

.footerTextMax {
  max-width: 272px;
}

.linkBtn {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  pointer-events: auto;
}

/* Footer responsiveness */
@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    padding: 1rem 2rem;
  }
  .footerWrap {
    font-size: 10px;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .footer {
    padding: 1rem 2.5rem;
  }
  .footerWrap {
    font-size: 8px;
  }
}

@media (min-width: 320px) and (max-width: 550px) {
  .footer {
    padding: 0.5rem 1.5rem;
  }
  .footerWrap {
    font-size: 4px;
  }
}
