.contact {
    background: #83be49;
    color: #fff;
    font-family: OpenSans, OpenSans Fallback;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    padding: 3px 12px;
    border-radius: 10px;
    margin-top: 2px;
    margin-right: 0rem;
    align-self: flex-end;
    z-index: 10;
  }
  
  .contact button {
    background: transparent;
    border: none;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    /* font-weight: 700; */
  }
  
  .contact a {
    text-decoration: underline;
  }
  
  .fullDetails {
    width: 100%;
    align-self: center;
  }

  @media (max-width: 1024px) {
    .contact {
      font-size: 20px;
      margin: 2px 8px 0;
      border-radius: 10px;
    }
  }
  
  @media (max-width: 769px) {
    .contact {
      font-size: 20px;
      margin: 3px 3px 0;
      border-radius: 10px;
    }
  }
  
  @media (max-width: 550px) {
    .contact {
      font-size: 12px;
      margin: 8px 5px 0;
      border-radius: 5px;
    }
  }
  
  @media (max-width: 426px) {
    .contact {
      font-size: 9px;
      margin: 3px 1px 0;
      border-radius: 5px;
    }
  }
  