@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.headerCard {
  width: 150px;
  height: 95px;
  background: #fff;
  border: 5px solid rgb(255, 221, 0);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards;
}

.headerName {
  font-size: 30px;
  white-space: nowrap;
  font-family: var(--font-amatics-sc);
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .headerCard {
    width: 120px;
    height: 80px;
  }
  .headerCard img {
    height: 75px;
  }
  .headerName {
    font-size: 25px;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .headerCard {
    width: 100px;
    height: 65px;
    border: 4px solid rgb(255, 221, 0);
  }
  .headerCard img {
    height: 55px;
  }
  .headerName {
    font-size: 22px;
  }
}

@media (min-width: 425px) and (max-width: 550px) {
  .headerCard {
    height: 50px;
    border: 3px solid rgb(255, 221, 0);
    border-radius: 15px;
  }
  .headerCard img {
    height: 40px;
  }
  .headerName {
    font-size: 15px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .headerCard {
    width: 150px;
    height: 35px;
    border: 2px solid rgb(255, 221, 0);
    border-radius: 10px;
  }
  .headerCard img {
    height: 27px;
  }
  .headerName {
    font-size: 14px;
  }
}
