.heading {
  background-color: #000;
  font-size: 30px;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 60px;
}
.responivepage {
  text-align: center;
  padding: 2rem 2rem;
  font-size: 50px;
}

.footer {
  background-color: black;
  padding: 2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .heading {
    font-size: 30px;
    padding-top: 52px;
  }
  .responivepage {
    text-align: center;
    padding: 5rem 2rem;
    font-size: 40px;
  }
  .footer {
    padding: 25px;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .heading {
    font-size: 25px;
    padding-top: 43px;
  }
  .responivepage {
    text-align: center;
    padding: 4rem 2rem;
    font-size: 30px;
  }

  .footer {
    padding: 20px;
  }
}

@media (min-width: 425px) and (max-width: 550px) {
  .heading {
    font-size: 20px;
    padding-top: 32px;
  }
  .responivepage {
    text-align: center;
    padding: 5rem 2rem;
    font-size: 35px;
  }
  .footer {
    padding: 5px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .heading {
    font-size: 10px;
    padding-top: 25px;
  }
  .responivepage {
    text-align: center;
    padding: 5rem 2rem;
    font-size: 25px;
  }
  .footer {
    padding: 5px;
  }
}
