.page-content {
    background-color: #fff;
    color: #000;
  }
  
  .page-section {
    padding: 2rem;
  }
  
  .heading {
    background-color: #000;
    font-size: 30px;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 60px;
  }
  
  .footer {
    background-color: black;
    padding: 2rem;
  }
  