@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.aboutBg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  z-index: -1;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.3s;
}

.responivepage {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.8s;
}

.contactDetails{
  width: 100vw;
  position: fixed;
  display: flex;
  left: 0;
  justify-content: center;
}

.maxDiv {
  max-width: 1000px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.aboutBg h1 {
  font-size: 50px;
}

.aboutBg p {
  font-size: 25px;
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.service.reverse {
  flex-direction: row-reverse;
}

.serviceText {
  flex: 1;
}

.serviceText h3 {
  color: #000;
  font-size: 30px;
}

.serviceText p {
  font-size: 20px;
  line-height: 1.5;
}
.serviceText ul {
  margin-left: 20px;
  list-style-type: disc;
}

.serviceText ul li {
  font-size: 20px;
  margin-bottom: 5px;
}

.serviceImage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image {
  border-radius: 5%;
}

.divider {
  border: 1px solid #343434;
  margin: 1rem 0;
}

.blackTextButton {
  color: black !important;
  margin: 10px 0;
}

.footer {
  background-color: black;
  padding: 2rem;
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1.3s;
}

@media (prefers-color-scheme: dark) {
  .blackTextButton {
    color: #ededed !important;
  }
}

@media (max-width: 1024px) {
  .responivepage {
    margin: 0 5%;
  }
  .divider {
    margin: 5px 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .heading {
    font-size: 30px;
    padding-top: 52px;
  }
  .aboutBg h1 {
    font-size: 40px;
  }
  .aboutBg p {
    font-size: 20px;
  }
  .serviceText ul li {
    font-size: 15px;
  }
  .serviceText h3 {
    font-size: 2rem;
  }
  .serviceText p {
    font-size: 15px;
  }
  .serviceImage img {
    width: 270px;
    height: 250px;
    padding-top: 2px;
  }
  .blackTextButton {
    font-size: 15px;
    border: 3px solid rgb(255, 221, 0);
  }
  .footer {
    padding: 25px 5%;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .heading {
    font-size: 25px;
    padding-top: 43px;
  }
  .aboutBg h1 {
    font-size: 30px;
  }
  .aboutBg p {
    font-size: 15px;
  }
  .serviceText ul li {
    font-size: 12px;
  }
  .serviceText h3 {
    font-size: 1.5rem;
  }
  .serviceText p {
    font-size: 12px;
  }
  .serviceImage img {
    width: 280px;
    height: 240px;
    padding-top: 2px;
  }
  .footer {
    padding: 20px 5%;
  }
}

@media (min-width: 425px) and (max-width: 550px) {
  .heading {
    font-size: 20px;
    padding-top: 32px;
  }
  .aboutBg h1 {
    font-size: 25px;
  }
  .aboutBg p {
    font-size: 13px;
  }
  .serviceText ul li {
    font-size: 8px;
  }
  .serviceText h3 {
    font-size: 1rem;
  }
  .serviceText p {
    font-size: 7px;
  }
  .serviceImage {
    gap: 3px;
  }
  .serviceImage img {
    width: 175px;
    height: 180px;
    padding-top: 2px;
  }
  .footer {
    padding: 5px 5%;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .heading {
    font-size: 10px;
    padding-top: 25px;
  }
  .aboutBg h1 {
    font-size: 20px;
  }
  .aboutBg p {
    font-size: 10px;
  }
  .serviceText ul {
    margin-left: 10px;
  }
  .serviceText ul li {
    font-size: 6px;
  }
  .serviceText h3 {
    font-size: 0.5rem;
  }
  .serviceText p {
    font-size: 6px;
  }
  .serviceImage {
    gap: 2px;
  }
  .serviceImage img {
    width: 130px;
    height: 150px;
    padding-top: 2px;
  }
  .footer {
    padding: 5px 5%;
  }
}
