.formPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.formContainer div input {
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.formContainer label {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  display: inline-block;
}

.formContainer select{
  padding: 5px;
  margin: 5px;
  width: 100%;
  height: 30px;
}

.submitButton {
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: rgb(27, 26, 26);
  color: aliceblue;
  border-radius: 6px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 5px;
}

.formContainer iframe {
  width: auto !important;
}

.submitButton:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.recaptcha {
  padding-top: 5px;
}

.thankYouMessage {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

.formActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.uploadSection {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.uploadIcon {
  width: 30px;
  height: 30px;
}

.uploadLabel {
  cursor: pointer;
  margin: 0;
  font-size: 16px;
}

.imageList {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.imageItem {
  position: relative;
  display: inline-block;
}

.removeBtn {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #666;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  .uploadIcon {
    filter: invert(1);
  }
}

@media (max-width: 1024px) {
  .responivepage {
    padding: 0 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .formContainer label {
    font-size: 15px;
  }
  .formContainer div input,
  .formContainer textarea {
    width: 100%;
    font-size: 12px;
    padding: 4px;
    margin: 4px;
  }
  .formContainer select{
    font-size: 15px;
  }
  .submitButton {
    font-size: 15px;
    height: 30px;
  }
  .imageContainer img {
    width: 390px;
    height: 450px;
  }
  .formContainer label {
    padding: 4px;
  }
  .uploadIcon {
    width: 25px;
    height: 25px;
  }
  .uploadLabel {
    font-size: 15px;
  }
  .imageList {
    gap: 12px;
  }
  .imageItem img , .imageItem a ,  .imageItem video  {
    width: 80px;
    height: 80px;
  }
  .removeBtn {
    font-size: 12px;
    width: 18px;
    height: 18px;
    top: -5px;
    right: -5px;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .formContainer iframe {
    transform: scale(0.6);
    transform-origin: 0 0;
  }
  .recaptcha {
    width: 200px !important;
    height: 50px;
  }
  .formContainer label {
    font-size: 10px;
  }
  .formContainer div input,
  .formContainer textarea {
    width: 100%;
    font-size: 10px;
    padding: 3px;
    margin: 3px;
  }
  .submitButton {
    font-size: 10px;
    height: 25px;
  }
  .formContainer select{
    font-size: 10px;
    height: 22px;
  }
  .imageContainer img {
    width: 350px;
    height: 400px;
  }
  .formContainer label {
    padding: 3px;
  }
  .uploadIcon {
    width: 20px;
    height: 20px;
  }
  .uploadLabel {
    font-size: 12px;
  }
  .imageList {
    gap: 10px;
  }
  .imageItem img , .imageItem a ,  .imageItem video  {
    width: 70px;
    height: 70px;
  }
  .removeBtn {
    font-size: 10px;
    width: 16px;
    height: 16px;
    top: -4px;
    right: -4px;
  }
}

@media (min-width: 425px) and (max-width: 550px) {
  .formContainer iframe {
    transform: scale(0.5);
    transform-origin: 0 0;
  }
  .recaptcha {
    width: 140px !important;
    height: 40px;
  }
  .formContainer label {
    font-size: 8px;
  }
  .formContainer div input,
  .formContainer textarea {
    width: 100%;
    font-size: 8px;
    padding: 2px;
    margin: 2px;
  }
  .submitButton {
    order: 2;
    font-size: 8px;
    height: 20px;
  }
  .formContainer select{
    font-size: 7px;
    height: 18px;
    margin: 0px;
    padding: 0px;
  }
  .imageContainer img {
    width: 230px;
    height: 300px;
  }
  .formContainer label {
    padding: 2px;
  }
  .uploadSection {
    order: 1;
    margin-top: 10px;
  }
  .uploadIcon {
    width: 20px;
    height: 20px;
  }
  .uploadLabel {
    font-size: 10px;
  }
  .imageList {
    gap: 8px;
  }
  .imageItem img , .imageItem a ,  .imageItem video  {
    width: 60px;
    height: 60px;
  }
  .removeBtn {
    font-size: 8px;
    width: 14px;
    height: 14px;
    top: -3px;
    right: -3px;
  }
  .formActions {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .formContainer iframe {
    transform: scale(0.35);
    transform-origin: 0 0;
  }
  .recaptcha {
    width: 110px !important;
    height: 30px;
  }
  .formContainer label {
    font-size: 5px;
  }
  .formContainer div input,
  .formContainer textarea {
    width: 100%;
    font-size: 5px;
    padding: 1px;
    margin: 1px;
  }
  .formContainer select{
    font-size: 5px;
    height: 12px;
    margin-left: 0px
  }
  .submitButton {
    order :2;
    font-size: 5px;
    height: 15px;
  }
  .imageContainer img {
    width: 180px;
    height: 255px;
  }
  .formContainer label {
    padding: 1px;
  }
  .thankYouMessage {
    font-size: 10px;
  }
  .uploadSection {
    order: 1;
    margin-top: 10px;
    justify-content: center;
  }
  .uploadIcon {
    width: 15px;
    height: 15px;
  }
  .uploadLabel {
    font-size: 8px;
  }
  .imageList {
    gap: 5px;
  }
  .imageItem img , .imageItem a ,  .imageItem video  {
    width: 50px;
    height: 50px;
  }
  .removeBtn {
    font-size: 6px;
    width: 12px;
    height: 12px;
    top: -2px;
    right: -2px;
  }
  .formActions {
    flex-direction: column;
    align-items: flex-start;
  }
}