.homepage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.greenbar {
  background-color: rgb(131, 190, 73);
  border: 0px solid #000;
  height: 44px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.responivepage {
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards;
  animation-delay: 0.3s;
}

.carouselSection {
  color: #fff;
  height: 480px;
}

@media (max-width: 1024px) {
  .responivepage {
    margin: 0 5%;
  }
}

@media (max-width: 1024px) {
  .homepage {
    padding: 96px 0 0;
  }
  .greenbar {
    height: 32px;
  }
}

@media (max-width: 769px) {
  .homepage {
    padding: 82px 0 0;
  }
  .greenbar {
    height: 25px;
  }
}

@media (max-width: 550px) {
  .homepage {
    padding: 64px 0 0;
  }
  .greenbar {
    height: 20px;
  }
}

@media (max-width: 426px) {
  .homepage {
    padding: 50px 0 0;
  }
  .greenbar {
    height: 18px;
  }
}
