.reviewSection {
  display: flex;
  gap: 100px;
}

.googleReviews {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  opacity: 0; /* Initially hidden */
  transform: translateX(-90%); /* Initially off-screen */
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.googleReviews.animate {
  opacity: 1;
  transform: translateX(0);
}

.certificate {
  flex: 1;
  max-width: 430px;
  background: #fff;
  border: 5px solid rgb(3, 195, 157);
  border-radius: 28px;
  display: flex;
  color: rgb(53, 52, 52);
  align-items: center;
  opacity: 0; /* Initially hidden */
  transform: translateX(90%); /* Initially off-screen */
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.certificate.animate {
  opacity: 1;
  transform: translateX(0);
}

.starRating {
  display: flex;
  gap: 6px;
}

.starRating img {
  width: 100px;
  height: 100px;
}

.plusSymbol {
  position: relative;
}

.plusHorizontal,
.plusVertical {
  width: 97px;
  height: 15px;
  background: #fff;
  display: inline-block;
  position: absolute;
  top: calc(50% - 8px);
}

.plusVertical {
  transform: rotate(90deg);
}

.reviewText {
  color: rgb(53, 52, 52);
  font-size: 18px;
  padding: 0 0 0 8px;
  font-style: italic;
}

.reviewText a {
  text-decoration: underline;
  color: #000;
}

.googleRatingText {
  font-size: 36px;
  font-weight: 700;
}

.googleRatingDesc {
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .reviewSection {
    gap: 50px;
  }
  .reviewText {
    font-size: 14px;
  }
  .googleRatingText {
    font-size: 32px;
  }
  .googleRatingDesc {
    font-size: 16px;
    text-align: center;
  }
  .starRating img {
    width: 70px;
    height: 70px;
  }
  .certificate img {
    width: 200px;
    height: 200px;
  }
  .plusHorizontal,
  .plusVertical {
    width: 70px;
    height: 11px;
    top: calc(50% - 8px);
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .reviewSection {
    gap: 75px;
  }
  .reviewText {
    font-size: 12px;
  }
  .googleRatingText {
    font-size: 28px;
  }
  .googleRatingDesc {
    font-size: 14px;
    text-align: center;
  }
  .starRating img {
    width: 60px;
    height: 60px;
  }
  .certificate img {
    width: 150px;
    height: 150px;
  }
  .plusHorizontal,
  .plusVertical {
    width: 60px;
    height: 9px;
    top: calc(50% - 7px);
  }
}

@media (min-width: 425px) and (max-width: 550px) {
  .reviewSection {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .starRating {
    justify-content: center;
  }
  .reviewText {
    font-size: 12px;
  }
  .googleRatingText {
    font-size: 28px;
  }
  .googleRatingDesc {
    font-size: 14px;
    text-align: center;
  }
  .starRating img {
    width: 60px;
    height: 60px;
  }
  .certificate img {
    width: 150px;
    height: 150px;
  }
  .plusHorizontal,
  .plusVertical {
    width: 60px;
    height: 9px;
    top: calc(50% - 7px);
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .reviewSection {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .starRating {
    justify-content: center;
  }
  .reviewText {
    font-size: 10px;
  }
  .googleRatingText {
    font-size: 15px;
  }
  .googleRatingDesc {
    font-size: 10px;
    text-align: center;
  }
  .starRating img {
    width: 40px;
    height: 40px;
  }
  .certificate img {
    width: 150px;
    height: 150px;
  }
  .plusHorizontal,
  .plusVertical {
    width: 40px;
    height: 8px;
    top: calc(50% - 5px);
  }
}