@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heading {
  background-color: #000;
  font-size: 30px;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 60px;
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards;
  animation-delay: 0.5s;
}
.responivepage {
  text-align: center;
  padding: 2rem 2rem;
  font-size: 50px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
}

.footer {
  background-color: black;
  padding: 2rem;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1.5s;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .heading {
    font-size: 30px;
    padding-top: 52px;
  }
  .responivepage {
    text-align: center;
    padding: 5rem 2rem;
    font-size: 40px;
  }
  .footer {
    padding: 25px 5%;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .heading {
    font-size: 25px;
    padding-top: 43px;
  }
  .responivepage {
    text-align: center;
    padding: 4rem 2rem;
    font-size: 30px;
  }

  .footer {
    padding: 20px 5%;
  }
}

@media (min-width: 425px) and (max-width: 550px) {
  .heading {
    font-size: 20px;
    padding-top: 32px;
  }
  .responivepage {
    text-align: center;
    padding: 5rem 2rem;
    font-size: 35px;
  }
  .footer {
    padding: 5px 5%;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .heading {
    font-size: 10px;
    padding-top: 25px;
  }
  .responivepage {
    text-align: center;
    padding: 5rem 2rem;
    font-size: 25px;
  }
  .footer {
    padding: 5px 5%;
  }
}
