.transparentBtn {
  width: 100%;
  background: transparent;
  font-size: 20px;
  text-decoration: underline;
  padding: 3px;
  margin-bottom: 12px;
  color: #fff;
  border-radius: 50px;
  border: 5px solid rgb(255, 221, 0);
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.transparentBtn:hover {
  background: #fff;
  color: rgb(22, 22, 22);
}

@media (prefers-color-scheme: dark) {
  .transparentBtn:hover {
    background: transparent;
    color: #fff;
  }
}

@media (max-width: 768px) {
  .transparentBtn {
    font-size: 15px;
  }
}
@media (max-width: 426px) {
  .transparentBtn {
    font-size: 14px;
    border: 2px solid rgb(255, 221, 0);
  }
}