.contact {
  background: #83be49;
  position: absolute;
  top: 109px;
  font-size: 28px;
  padding: 2px 16px;
  border-radius: 10px;
  font-family: OpenSans, OpenSans Fallback;
  font-weight: 400;
  color: #fff;
}

.contact button {
  background: transparent;
  border: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  /* font-weight: 700; */
}

.contact a {
  text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contact {
    top: 94px;
    font-size: 20px;
    position: absolute;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .contact {
    top: 80px;
    font-size: 15px;
    position: absolute;
  }
}

@media (min-width: 425px) and (max-width: 550px) {
  .contact {
    top: 64px;
    font-size: 10px;
  }
}

@media (min-width: 320px) and (max-width: 420px) {
  .contact {
    top: 49px;
    font-size: 9px;
  }
}
