.contact {
  background: #83be49;
  position: absolute;
  top: 111px;
  font-size: 28px;
  padding: 2px 16px;
  border-radius: 10px;
  font-family: OpenSans, OpenSans Fallback;
  font-weight: 400;
  color: #fff;
}

.contact button {
  background: transparent;
  border: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  /* font-weight: 700; */
}

.contact a {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .contact {
    top: 96px;
    font-size: 20px;
    position: absolute;
  }
}

@media (max-width: 769px) {
  .contact {
    top: 82px;
    font-size: 15px;
    position: absolute;
  }
}

@media (max-width: 550px) {
  .contact {
    top: 66px;
    font-size: 10px;
  }
}

@media (max-width: 426px) {
  .contact {
    top: 52px;
    font-size: 9px;
  }
}
