@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heading {
  background-color: #000;
  font-size: 30px;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 75px;
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards;
  animation-delay: 0.5s;
}

.aboutBg {
  /* height: 150px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  z-index: -1;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
}

.responivepage {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1.5s;
}
.aboutBg h1 {
  font-size: 50px;
}
.aboutBg p {
  font-size: 25px;
}

.aboutMulch p {
  font-size: 20px;
}
.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.service.reverse {
  flex-direction: row-reverse;
}

.serviceText {
  flex: 1;
}

.serviceText h3 {
  color: #000;
  font-size: 45px;
}

.serviceText p {
  font-size: 15px;
  line-height: 1.5;
}

.serviceImage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image {
  border-radius: 5%;
}

.divider {
  border: 1px solid #343434;
  margin: 1rem 0;
}

.blackTextButton {
  color: black !important;
  margin: 10px 0;
}

.priceList {
  font-size: 23px !important;
  font-weight: normal;
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: black;
  padding: 2rem;
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1.5s;
}

@media (prefers-color-scheme: dark) {
  .blackTextButton {
    color: #ededed !important;
  }
}

@media (max-width: 1024px) {
  .responivepage {
    margin: 0 5%;
  }
  .divider {
    margin: 5px 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .heading {
    font-size: 30px;
    padding-top: 60px;
  }
  .aboutBg h1 {
    font-size: 40px;
  }
  .aboutBg p {
    font-size: 20px;
  }
  .aboutMulch h2 {
    font-size: 1.3em;
  }
  .aboutMulch p {
    font-size: 15px;
  }
  .serviceText h3 {
    font-size: 2rem;
  }
  .serviceText p {
    font-size: 15px;
  }
  .serviceImage img {
    width: 270px;
    height: 250px;
    padding-top: 2px;
  }
  .blackTextButton {
    font-size: 15px;
    border: 3px solid rgb(255, 221, 0);
  }
  .priceList {
    font-size: 18px !important;
  }
  .footer {
    padding: 25px 5%;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .heading {
    font-size: 25px;
    padding-top: 70px;
  }
  .aboutBg h1 {
    font-size: 30px;
  }
  .aboutBg p {
    font-size: 15px;
  }
  .aboutMulch h2 {
    font-size: 1em;
  }
  .aboutMulch p {
    font-size: 12px;
  }
  .serviceText h3 {
    font-size: 1.5rem;
  }
  .serviceText p {
    font-size: 12px;
  }
  .serviceImage img {
    width: 280px;
    height: 240px;
    padding-top: 2px;
  }
  .priceList {
    font-size: 15px !important;
  }
  .footer {
    padding: 20px 5%;
  }
}

@media (min-width: 425px) and (max-width: 550px) {
  .heading {
    font-size: 20px;
    padding-top: 50px;
  }
  .aboutBg h1 {
    font-size: 25px;
  }
  .aboutBg p {
    font-size: 13px;
  }
  .aboutMulch h2 {
    font-size: 0.8em;
  }
  .aboutMulch p {
    font-size: 7px;
  }
  .serviceText h3 {
    font-size: 1rem;
  }
  .serviceText p {
    font-size: 7px;
  }
  .serviceImage {
    gap: 3px;
  }
  .serviceImage img {
    width: 175px;
    height: 130px;
    padding-top: 2px;
  }
  .priceList {
    font-size: 10px !important;
  }
  .footer {
    padding: 5px 5%;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .heading {
    font-size: 10px;
    padding-top: 38px;
  }
  .aboutBg h1 {
    font-size: 20px;
  }
  .aboutBg p {
    font-size: 10px;
  }
  .aboutMulch h2 {
    font-size: 0.5em;
  }
  .aboutMulch p {
    font-size: 6px;
  }
  .serviceText h3 {
    font-size: 0.8rem;
  }
  .serviceText p {
    font-size: 6px;
  }
  .serviceImage img {
    width: 130px;
    height: 120px;
    padding-top: 2px;
  }
  .priceList {
    font-size: 8px !important;
  }
  .footer {
    padding: 5px 5%;
  }
}
