.header-navbar {
  width: 100vw;
  padding: 6px 0 8px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: 100%;
  z-index: 999;
}

.header-navbar .cards-wrap {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: rgb(22, 22, 22);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-navbar .cards-wrap {
    padding: 0 2.5rem;
    width: calc(100% - 5rem);
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .header-navbar .cards-wrap {
    padding: 0 1.5rem;
    width: calc(100% - 3rem);
  }
}

@media (min-width: 425px) and (max-width: 550px) {
  .header-navbar .cards-wrap {
    padding: 0 1rem;
  }
}

@media (max-width: 425px) {
  .header-navbar .cards-wrap {
    padding: 0 1rem;
  }
}
