@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leftToRight {
  from {
    opacity: 0;
    max-width: 0;
    transform: translateX(-100px);
    z-index: -1;
  }
  to {
    opacity: 1;
    max-width: 150px;
    transform: translateX(0px);
    z-index: 1;
  }
}

.options-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 109px;
  width: 100vw;
  z-index: 900;
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards;
  animation-delay: 0.5s;
  overflow-x: hidden;
}

.servicesHeader {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.options {
  display: flex;
  gap: 0px !important;
  white-space: nowrap;
  text-transform: uppercase;
  overflow-wrap: break-word;
  margin-top: 0.25rem;
  max-width: 100%;
  overflow: auto;
  align-items: center;
  scrollbar-width: none;
  padding: 5px 20px;
}

.options::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
}

.optionButton {
  font-family: var(--font-amatics-sc);
  background: #fff;
  border: 5px solid rgb(255, 221, 0);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  white-space: break-spaces;
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards;
  animation-delay: 0.5s;
  flex-shrink: 0;
  margin-right: 15px;
}

.optionButton:last-child {
  margin-right: 0px;
}

.optionButton:hover:not(.selected) {
  background-color: gray;
  scale: 1.1 !important; /* Zoom-in effect */
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  transform-origin: center;
}

.mainButton {
  width: 150px;
  height: 60px;
  font-size: 22px;
  transition: scale 0.75s ease, box-shadow 0.25s ease-in;
}

.mainButton.selected {
  font-size: 23px;
  transform-origin: center;
  scale: 1.1 !important;
  box-shadow: 0 3px 20px rgba(247, 129, 129, 0.2);
  /* transition: transform 1s ease-in, box-shadow 0.5s ease-in;  */
}

.categoryButton {
  font-size: 18px;
  width: 100px;
  height: 50px;
  max-width: 0;
  transform-origin: left;
  animation: leftToRight 0.8s ease-in-out forwards;
  transition: scale 0.25s ease-in, box-shadow 0.25s ease-in;
}

.categoryButton.selected {
  transform-origin: center;
  scale: 1.1 !important;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2); /* Highlight with a shadow */
}

.shadow {
  position: absolute;
  top: 1px;
  right: -2px;
  width: 19px;
  height: 72px;
  z-index: 1;
  /* background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  border-radius: 1px 0 0 1px;
}

.subCategories {
  display: flex;
  gap: 0px !important;
  max-width: 0px;
  transition: all 1s ease;
  /* overflow: hidden; */
  padding-right: 0px;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
}

.showSubCategory {
  max-width: 1000px;
  /* overflow: unset; */
  padding-right: 15px;
  visibility: visible;
  z-index: 1;
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  .optionButton {
    color: black;
  }
  .shadow {
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ) !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .servicesHeader {
    max-width: 955px;
  }
  .options-navbar {
    top: 92px;
  }
  .options {
    gap: 13px;
  }
  .mainButton {
    width: 100px;
    height: 55px;
    font-size: 18px;
  }
  .categoryButton {
    width: 80px;
    height: 45px;
    font-size: 16px;
  }
  .mainButton.selected {
    font-size: 19px;
  }
  .optionButton {
    border: 4px solid rgb(255, 221, 0);
    border-radius: 10px;
  }
  .shadow {
    top: 3px;
    height: 53px;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .servicesHeader {
    width: 95%;
    max-width: 715px;
  }
  .options-navbar {
    top: 83px;
  }
  .options {
    padding: 5px 20px;
    gap: 15px;
  }
  .optionButton{
    margin-right: 12px;
  }
  .mainButton {
    width: 95px;
    height: 55px;
    font-size: 15px;
  }
  .categoryButton {
    width: 80px;
    height: 45px;
    font-size: 15px;
  }
  .showSubCategory {
    padding-right: 12px;
  }
  .mainButton.selected {
    font-size: 17px;
  }

  .optionButton {
    border: 4px solid rgb(255, 221, 0);
    border-radius: 10px;
  }
  .shadow {
    top: 9px;
    height: 55px;
    width: 18px;
  }
}

@media (min-width: 425px) and (max-width: 550px) {
  .servicesHeader {
    width: 95%;
    /* max-width: 630px; */
  }
  .options-navbar {
    top: 63px;
  }
  .options {
    padding: 2px 5px;
    gap: 9px;
  }
  .optionButton{
    margin-right: 12px;
  }
  .mainButton {
    width: 80px;
    height: 40px;
    font-size: 12px;
  }
  .categoryButton {
    width: 55px;
    height: 33px;
    font-size: 10px;
  }
  .showSubCategory {
    padding-right: 12px;
  }
  .mainButton.selected {
    font-size: 15px;
  }
  .optionButton {
    border: 3px solid rgb(255, 221, 0);
    border-radius: 5px;
  }
  .shadow {
    top: 3px;
    height: 43px;
    width: 18px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .servicesHeader {
    width: 95%;
  }
  .options-navbar {
    top: 48px;
  }
  .options {
    padding: 2px 5px;
    gap: 7px;
  }
  .optionButton{
    margin-right: 10px;
  }
  .mainButton {
    width: 80px;
    height: 33px;
    font-size: 12px;
  }
  .categoryButton {
    width: 50px;
    height: 28px;
    font-size: 10px;
  }
  .showSubCategory {
    padding-right: 10px;
  }
  .mainButton.selected {
    font-size: 13px;
  }
  .optionButton {
    border: 2px solid rgb(255, 221, 0);
    border-radius: 5px;
  }
  .shadow {
    top: 3px;
    height: 35px;
    width: 18px;
  }
}